body {
    margin: 0;
    padding: 0;
    background: url(../img/agro1.jpg) no-repeat center top;
    background-size: cover;
}

.titulo {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 120px;
    color: chartreuse;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.txt {
    color: black;
}

.recuperar {
    width: 420px;
    height: 320px;
    background-color: #ffff;
    opacity: .95;
    color: chartreuse;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recuperar h1 {
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 31px;
    font-weight: bolder;

}

.recuperar input {
    width: 100%;
    margin-bottom: 10px;
}

.recuperar input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background-color: chartreuse;
    color: black;
    font-size: 20px;
    border-radius: 20px;
}

.recuperar input[type="submit"]:hover {
    color: rgb(255, 255, 255);
}

.recuperar input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}